version: '2.0'
  
services:

  #
  # DB
  #
  java-backend-db:
    image: mariadb:11.2
    volumes:
      - iot-java-backend-db:/var/lib/mysql
    hostname: db
    environment:
     MARIADB_ROOT_PASSWORD: JAVA-BACKEND
     MARIADB_DATABASE: JAVA-BACKEND
     MARIADB_USER: JAVA-BACKEND
     MARIADB_PASSWORD: JAVA-BACKEND
    networks:
      iot:
    ports:
      - "33306:3306"
      
  #
  # BACKEND
  #
  java-backend:
    image: jonesbusy/java-backend:latest
    hostname: java-backend
    environment:
      JAVA_OPTS: -Xms256m -Xmx512m -Djava.net.preferIPv4Stack=true -Djava.awt.headless=true
    networks:
      iot:
    build:
      context: .
      args:
        version: 0.1-SNAPSHOT
      
  #
  # Load balancer
  #
  java-backend-lb:
    image: dockercloud/haproxy:1.6.7
    links:
      - java-backend
    container_name: java-backend-lb
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      iot:
    environment:
      - MODE=http
    ports:
      - "48080:80"

        
#
# Networking
#
networks:
  iot:
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "false"  


#
# Volumes
#    
volumes:
 iot-java-backend-db:
